:root {
  --cell_width: 30px;
  --lclue_length: 1;
  --tclue_length: 1;
  --game_length: 5;
  --background_light: darkkhaki;
  --border_dark: green;
}

.main__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background_light);
}
.cross__wrapper {
  width: 100%;
  max-width: 400px;
  display: grid;
  grid-template-columns: repeat(calc(var(--game_length) + var(--lclue_length)), 1fr);
  grid-template-rows: repeat(calc(var(--game_length) + var(--tclue_length)), 1fr);
  aspect-ratio: 1 / 1;
}

.cross__top_clue {
  border: 1px solid var(--border_dark);
  grid-row-start: 1;
  grid-row-end: span var(--tclue_length);
  grid-column-start: calc(var(--lclue_length) + 1);
  grid-column-end: calc(var(--lclue_length) + 1 + var(--game_length));
  display: grid;
}
.cross__left_clue {
  border: 1px solid var(--border_dark);
  grid-column-start: 1;
  grid-column-end: span var(--lclue_length);
  grid-row-start: calc(var(--tclue_length) + 1);
  grid-row-end: calc(var(--tclue_length) + 1 + var(--game_length));
  display: grid;
}
.cross__clue_item {
  border: 1px solid var(--border_dark);
  grid-column-end: span 1;
  grid-row-end: span 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cross__data {
  grid-row-start: calc(var(--tclue_length) + 1);
  grid-row-end: calc(var(--tclue_length) + 1 + var(--game_length));
  grid-column-start: calc(var(--lclue_length) + 1);
  grid-column-end: calc(var(--lclue_length) + 1 + var(--game_length));
  display: grid;
}
.cross__data_item {
  border: 1px solid var(--border_dark);
  grid-column-end: span 1;
  grid-row-end: span 1;
}
.cross__data_item-black {
  background-color: black;
  border-color: black;
}
.cross__data_item-cross {
  border-color: black;
  background:
  linear-gradient(45deg, transparent 48%, #000 48%, #000 52%, transparent 52%),
  linear-gradient(-45deg, transparent 48%, #000 48%, #000 52%, transparent 52%);
}



